<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Producto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Title" formControlName="title" matInput type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Price" formControlName="price" matInput type="number">
            </mat-form-field>
            <div *ngIf="priceField.errors && priceField.dirty">
              <p *ngIf="priceField.hasError('price_invalid')">no te debes pasar de 10000</p>
              <p *ngIf="priceField.hasError('required')">el campo es requerido</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <textarea placeholder="Text" formControlName="description" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
      </mat-card-actions>
    </mat-card>
    
  </form>
  